* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 10px;
    --blue: #0065FF;
  }
  
  body {
    font: 1.5rem 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #777;
    background-color: #DEEBFF;
  }
  
  #view:hover{
    cursor: pointer;
  }

  header{
    display: flex;
    justify-content: space-between;
    background-color: white;
  align-items: center;
  height: 50px;
  }
  header h1{
    margin-left: 20px;
    color: #253858;
  }

  .options{
    display: flex;
    align-items: center;
  
    height: 100%;
    width: 300px;
  }

.headerBtn{
  display: block;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color:white;
  background-color: var(--blue);
  transition: 0.2s;
  border: none;
}

.headerBtn:hover{
  transition: 0.2s;
  cursor: pointer;
  background-color: #0455ce;
}


  .formCont{

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
  }
  
  .form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #view{
    position: relative;
    left: 310px;
    bottom: 50px;
  }


  .form input{
    border: none;
    border-bottom: 1px solid var(--blue);
    padding: 10px;
    border-radius: 5px;
  }
 main{
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .board{
    position: relative;
    margin-top: 0;
    width: 200px;
    height:100px;
    padding: 5px;
    overflow-wrap: break-word;
    border-radius: 5px;
  }
  .board span{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  #boardsContainer{
    
   gap: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
   grid-template-rows: repeat(auto-fill, 200px);
   row-gap: 0px;
   column-gap: 60px;
    margin-top: 40px;
    width: 60vw;
    list-style: none;
  }

  .board{
    list-style: none;
    height: 130px;
    cursor: pointer;
  }
  
  #hello{
    width: 400px;
    gap: 5px;

    align-items: center;
  }
  
  #hello img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }

  #addBoard{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    right: 5px;
    top: 80px;
  }

  #addBoardForm{
    gap: 10px;
    flex-direction: column;
   position: absolute;
   top: 30%;
   right: 20px;
    height: 200px;
  }

  #addBoardForm input{
    border: none;
    border-bottom: 1px solid var(--blue);
    padding: 10px;
    border-radius: 5px;
  }

  #submitNewBoard{
    height: 40px;
  }

  #closeAddForm{
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }



  #boardDisplay{
    background-color: #5d879b;
    top: 80px;
    position: absolute;
    border-radius: 10px;
    width: 1100px;
    height: 500px;
  }
  #displayClose{
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    align-self: flex-start;
    cursor: pointer;
  }

  #displayHeader{
    display: flex;
    align-items: center;
    gap: 10px;
  height: 60px;
  background-color: #496b7a;
  
    
  }

  #infos{
    justify-content: space-around;
    display: flex;
    width: 200px;
    align-items: center;
  }

  #listsDisplay{
    height: 80%;
  }

  #addList{
    width: 30px;
    height: 30px;
    border-radius: 5px;
   text-align: center;
  }

  #listForm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }

  #listsContainer{
    display: flex;
    gap: 20px;
    height: 100%;
    margin-top: 10px;
    overflow: scroll;
  }

  #lists{
    height: 90%;
   
  }
  .listInputName{
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #101204;
  }

  .listByItself{
    position: relative;
    list-style: none;
    background-color: #101204;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding-top: 10px;
    width: 300px;
    min-height: 200px;
    margin-left: 20px;

  }
  .card{
    position: relative;
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    word-break: break-all;
    background-color: #22272B;
    cursor: pointer;
  }

  #cardDisplay{
    padding: 10px;
    background-color: #323940;
    position: absolute;
    height: 400px;
    width: 900px;
    top: 20px;
    left: 60px;
   
    grid-template-areas: 
    "header header header"
    "comments comments side"
    "comments comments side";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
    overflow: scroll;
  }

  #cardDisplayHeader{
    display: flex;
   grid-area: header;
    width: 80%;
    justify-content: space-between;
  }

  #cardDisplayName{
    background-color: #323940;
  }

  #cardDisplayClose{
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    align-self: flex-start;
    cursor: pointer;
    position: absolute;
    right: 5px;
  }

  #commentsList{
    margin-top: 20px;
    grid-area: comments;
    width: 300px;
  }

  #sideBar{
grid-area: side;

  }

  #commentsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .comment{
    list-style: none;
    color: white;
    border: 1px solid gray;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
  }

  .commentWrapper{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
  }

  .commentWrapper span{
    cursor: pointer;
  }

  .cardTags{
    display: flex;
    width: 40px;
    gap: 2px;
    position: absolute;
    top: 0;
  }
.tag{
  width: 20px;
  height: 4px;
}

#cardDisplayDelete{
  cursor: pointer;
}

.deleteList{
  position: absolute;
  right: 5px;
  cursor: pointer;
}

#showFavorites{
  position: absolute;
  left: 5px;
  top: 80px;
  padding: 5px;
  color: white;
  background-color: #22272B;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


  .displayNone{
    display: none;
  }
  .displayFlex{
    display: flex;
  }
  .displayBlock{
    display: block;
  }
  .displayGrid{
    display: grid;
  }


 